<h1>New Message</h1>
<%= form_for @message do |f| %>
 
 	<%= f.label :recipient_id %>
	<%= f.select :recipient_id, @users.map { |u| [u.email, u.id] } %>
<br>
	<%= f.label :body %>
	<%= f.text_field :body, size: '100' %>
	<br>
	<%= f.submit "Send", class: 'btn btn-primary' %>

<% end %>