<!DOCTYPE html>
<html>
  <head>
    <title>SnapChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	
	<div class="container">
		<nav class="navbar navbar-light bg-faded">
		<form class="form-inline">
	    <button class="btn btn-outline-success" type="button"><%= link_to "SnapChat", root_path %></button>
	    <div class="nav-item navbar-toggler-right">
			
			<%if current_user %>
				<div><%= link_to "*Log out as #{current_user.name.capitalize}", log_out_path , method: 'delete', class: 'btn btn-primary' %></div>
			<%else%>
				<%= link_to "Sign_Up", new_user_path, class: 'btn btn-primary' %>
				<%= link_to "Sign In", new_session_path, class: 'btn btn-primary' %>
			<%end%>

	    </div>
	    
	  	</form>

	  	

	  	<div class="nav-item navbar-toggler-right"> 
			
	  	</div>


	</nav>
	</div>
	

  <div class="container">
  	<%= flash_messages %>
  	<%= yield %>
  </div>
    
  </body>
</html>
